
<hr />
<h2><i>{{movieItem.id}}. </i>{{movieItem.title}}</h2>
<span>{{movieItem.category}}</span>
<p>{{movieItem.duration}}</p>
<b><i>votes: {{movieItem.votes}}</i></b>
<br />
<button (click)="UpVote(movieItem)" style="width: 80px;height:50px;" ><h3>+</h3></button>&nbsp;
<button (click)="DownVote(movieItem)" style="width: 80px;height:50px;"><h3>-</h3></button>&nbsp;
<button (click)="hideMovieInChild(movieItem)" style="width: 100px;height:50px;"><h4>hide movie</h4></button>&nbsp;
<button *ngIf="movieItem.isFavourite===false" (click)="marked.emit(movieItem)" style="width: 100px;height:50px;"><h4>like</h4></button>
<button *ngIf="movieItem.isFavourite===true" (click)="marked.emit(movieItem)" style="width: 100px;height:50px;background-color: red;"><h4>unlike</h4></button>