
<hr />
<h2><i>{{movieItem.id}}. </i>{{movieItem.title}}</h2>
<span>{{movieItem.category}}</span>
<p>{{movieItem.duration}}</p>
<b><i>votes: {{movieItem.votes}}</i></b>
<br />
<button (click)="UpVote(movieItem)" class="btn btn-primary" >+</button>&nbsp;
<button (click)="DownVote(movieItem)"  class="btn btn-secondary">-</button>&nbsp;
<button (click)="hideMovieInChild(movieItem)" class="btn btn-info">hide movie</button>&nbsp;
<button *ngIf="movieItem.isFavourite===false" (click)="marked.emit(movieItem)" class="btn btn-primary">like</button>
<button *ngIf="movieItem.isFavourite===true" (click)="marked.emit(movieItem)" class="btn btn-danger">unlike</button>