
    <label class="form-control">SN</label><input type="text" disabled value="{{bookItem.id}}"  class="form-control"/><br />    
    <label class="form-control">title</label><b><i><input type="text" disabled value="{{bookItem.title}}" class="form-control" /></i></b><br />
    <label class="form-control">auther</label><input type="text" disabled value="{{bookItem.auther}}" class="form-control" /><br />
    <label class="form-control">price</label><input type="text" disabled value="{{bookItem.price}}" class="form-control" /><br />
    <hr>
