<p>movies works!</p>
<br />
<table style="width: 100%;">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>duration</th>
        <th>Category</th>
    </tr>
    <tr style="text-align: center;" *ngFor="let m of movies">
<td>{{m.id}}</td>
<td *ngIf="m.title==='home a lone'"><b> {{m.title}}</b></td>
<td *ngIf="m.title!='home a lone'"> {{m.title}}</td>
<td>{{m.duration}}</td>
<td>{{m.category}}</td>
    </tr>
</table>
<app-movie-item *ngFor="let m of movies" [movieItem]="m" (HideMovie)="hideMovieInParent($event)" (marked)="mark($event)"></app-movie-item>
